version: "3.9"

services:
  ocevent-wordpress:
    image: wordpress:php8.2-apache
    container_name: ocevent-wordpress
    restart: unless-stopped
    depends_on:
      - ocevent-db
    environment:
      WORDPRESS_DB_HOST: ocevent-db:3306
      WORDPRESS_DB_NAME: ocevent_db
      WORDPRESS_DB_USER: ocevent_user
      WORDPRESS_DB_PASSWORD: BitteAendern123!
      WORDPRESS_CONFIG_EXTRA: |
        define('FS_METHOD', 'direct');
    volumes:
      - ocevent_site:/var/www/html
    networks:
      - npm_default
      - ocevent-internal

  ocevent-db:
    image: mariadb:11
    container_name: ocevent-db
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: BitteAendern123!
      MARIADB_DATABASE: ocevent_db
      MARIADB_USER: ocevent_user
      MARIADB_PASSWORD: BitteAendern123!
    volumes:
      - ocevent_db_data:/var/lib/mysql
    networks:
      - ocevent-internal

  ocevent-phpmyadmin:
    image: phpmyadmin:latest
    container_name: ocevent-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: ocevent-db
      PMA_ARBITRARY: "0"
      UPLOAD_LIMIT: "256M"
    ports:
      - "8086:80"
    networks:
      - ocevent-internal

networks:
  npm_default:
    external: true
  ocevent-internal:
    driver: bridge

volumes:
  ocevent_site:
  ocevent_db_data:
